@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

html, body {
    height: 100%;
}

#__nuxt {
    font-family: "Nunito Sans", sans-serif !important;
    height: 100%;
}

.wrapper {
    font-family: "Nunito Sans", sans-serif !important;
    min-height: 100%;
    background-color: #FAFAFA;
}

.wrapper.dark-mode {
    background-color: #202C37;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.al-element {
    background-color: #FFFFFF !important;
}

.wrapper.dark-mode .al-element {
    background-color: #2B3945 !important;
}

.al-text {
    color: #111517 !important;
}

.wrapper.dark-mode .al-text {
    color: #FFFFFF !important;
}

.search-input {
    padding-left: 50px !important;
}

.search-input::placeholder {
    color: #858585;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    color: #858585
}

.wrapper.dark-mode .search-input::placeholder, .wrapper.dark-mode .search-icon {
    color: #FFFFFF !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent !important;
}

.w-200p {
    width: 200px;
}

.flag {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4/3;
}

@media (min-width: 768px) {
    .navbar-brand {
        font-size: 24px !important;
    }
}
